@model IEnumerable<AperturaEncuesta.Models.AlumnoDatosPadron>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Padron.AlumnoNombre)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Padron.AlumnoNombre)
        </td>     
    </tr>
}

</table>
